# Print

In [8]:
print('Hello') # single quote

# concatenation w/ + or ,
print('Hello '+'Wenny') 
print('Hello'+' '+'Wenny')
print('Hello','Wenny')

print("Hello") # double quote

# triple quote f/ more than 1 line
print('''Hello''')
print('''Hello
Wenny''')
print('''Hello \
Wenny''')   # backslash atau escape character f/ a too long sentence

# escape character
print('\'Wenny\'')

# concatenation f/ different data types
# error: print('Hello'+ 2)
print('Hello'+'2') # tipe data disamakan str and str
print('Hello',2) # menggunakan ,
print('2'+'2') # concatenation str w/ str
print(2+2) # sum: int atau float + int atau float operasi matematika

Hello
Hello Wenny
Hello Wenny
Hello Wenny
Hello
Hello
Hello
Wenny
Hello Wenny
'Wenny'
Hello2
Hello 2
22
4

# Cek Tipe Data

In [67]:
print(type(2))          # int
print(type('2'))        # str
print(type('Wenny'))    # str
print(type(2.0))        # float
print(type(True))       # bool
print(type(False))      # bool
print(type(None))       # Nonetype

print(isinstance('Jeruk',str))
print(isinstance(2.0, float))
print(isinstance('Mangga', int))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
True
True
False

In [16]:
# bool condition False: memeriksa kondisi True/False
print(bool(False))
print(bool(0))
print(bool(''))
print(bool([]))

# bool condition True: memeriksa kondisi True/False
print(bool(True))
print(bool(1))
print(bool(' '))
print(bool([2, 'ayam']))

False
False
False
False
True
True
True
True

In [17]:
# casting tipe data
print(type(str(2)))
print(type(int('2')))

<class 'str'>
<class 'int'>

# Comment

Komen diawali dengan # untuk menjelaskan kode kita atau mengabaikan suatu kode

In [ ]:
# print(22) untuk membatalkan penjalanan kode
# untuk menjelaskan kode 

print(22)

In [ ]:
# docstrings

'''New Text Document.txt'''

CTRL + / untuk mengubah menjadi beberapa baris komen sekaligus

# Variable

Variabel adalah tempat menyimpan data.

Penulisan:
- camelCase
- snake_case
- PascalCase

Karakter:
- case sensitive atau huruf besar berpengaruh.
- overwrite variable lama.
- tidak boleh dimulai dengan angka, bisa dimulai dengan simbol lain spt _
- yang bagus Nama Variable menjelaskan Isi Dari Variable

In [28]:
# camel
myVariableName = 'Wenny'

# snake_
my_variable_name = 'Wenny'

# Pascal
MyVariableName = 'Wenny'

print(myVariableName)
print(my_variable_name)
print(MyVariableName)

Var1='Wenny'
print(Var1)
Var1='Chandra'
print(Var1)

# error: 3Var = 'Hello'
_Var = 'Halo'
print(_Var)

Wenny
Wenny
Wenny
Wenny
Chandra
halo

In [ ]:
x = y = z = 22
print(x)
print(y)
print(z)

x,y,z = 21,22,23
print(x)
print(y)
print(y)

# error: x,y,z = 22

# Numeric

Terdiri atas: int, float, dan complex.

In [71]:
print(type(5))
print(type(.528))
print(type(5.7))
print(type(67.))
print(5e3)
print(3e-3)
print(type(5e3))
print(type(3e-3))
print(3+5j)
print(type(3+5j))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
5000.0
0.003
<class 'float'>
<class 'float'>
(3+5j)
<class 'complex'>

In [69]:
k=round(2.5)    # pembulatan turun
l=round(2.6)    # pembulatan naik
j=int(2.5)      # pengambilan bilangan real
h=float(2)
i=float(2.5)
z=str(2)        # pengubahan int menjadi string

print(k)
print(l)
print(j)
print(h)
print(i)
print('')

n=round(5.678564, 2)    # pembulatan dengan n digit di belakang .
print(n)

2
3
2
2.0
2.5

5.68

In [73]:
# operasi matematika

print(x+j)  # int + int = int  
print(j+i)  # int + float = float

4
4.5

# Slicing

Index slicing start from 0 (zero).

In [66]:
print('ikan'[2])

a

In [30]:
nama= 'Wenny Chandra'
print(nama[2])  # index ke-2:      n
print(nama[2:]) # index ke-2 sampai index terakhir: nny Chandra
print(nama[:2]) # index 0 sampai index ke-2 kurang 1 yaitu index ke 1:  We
print(nama[-2]) # index -2 dari belakang, dimulai dari -1:   r
print(nama[-2:])    # index -2 sampai index terakhir:      ra
print(len(nama))    # jumlah karakter

n
nny Chandra
We
r
ra
13

In [31]:
print(nama.upper())
print(nama.lower())
print(nama.replace('n','N'))
print(nama.split(' '))

WENNY CHANDRA
wenny chandra
WeNNy ChaNdra
['Wenny', 'Chandra']

# Format String

In [42]:
umur = 22
txt = 'umur saya 22 tahun'

txt_a= 'umur saya ' + str(umur) + ' tahun'

print(txt)
print(txt_a)

umur saya 22 tahun
umur saya 22 tahun

In [43]:
txt_1= 'umur saya {} tahun'
print(txt_1.format(umur))

umur saya 22 tahun

In [36]:
nama= 'Wenny Chandra'
umur= 25
kelas= 15

text_1 = 'Hallo nama saya {1}, umur saya {0} tahun, kelas {2}'
print(text_1.format(umur,nama,kelas))

Hallo nama saya Wenny Chandra, umur saya 25 tahun

In [40]:
print(f'Hello, {nama}')
print(f'Hello, nama saya adalah {nama}, umur saya {umur}')

Hello, Wenny Chandra
Hello, nama saya adalah Wenny Chandra, umur saya 22

In [41]:
print('%d tahun, nama %s' %(umur,nama))
print('%.2f tahun, nama %s' %(umur,nama))

22 tahun, nama Wenny Chandra
22.00 tahun, nama Wenny Chandra

# Escape Characters

In [44]:
txt= 'hallo, nama saya \'Wenny\''
print(txt)

hallo, nama saya 'Wenny'

In [46]:
txt2= 'hallo \n nama saya \'Wenny\''
print(txt2)

hallo
 nama saya 'Wenny'

In [48]:
print('Hello \bWorld!')
print('Hello\tWorld!')
print('2 \ 2')
print('2 \
    2')

HelloWorld!
Hello	World!
2 \ 2
2     2

# List

Karakter:
- ditulis dengan kurung siku []
- berurutan
- bisa diubah
- bisa duplikat

In [ ]:
list1= ['mother','father','brother','sister']
list2= ['2', 2, True]

print(tyep(list2))
print(list1)
print(list2)

print(list1[1])
print(list1[:-1])
print(' ')

list1[1]='Ayah'
print(list1)

list1.insert(1,'ibu')
list1.append('cucu')
list1.extend(list2)

list1.remove('motor')
print(list1)

list1.pop(1)
print(list1)

del list1[1]
print(list1)

del list2
print(list2)

list1.clear()
print(list1)

# Tuple

- ditulis dengan kurung lingkaran ()
- berurutan
- tidak bisa diubah
- bisa duplikat

In [ ]:
mytuple= (motor, mobil, becak, pesawat)

'''...'''

# error 
# mytuple[1]='mobil'
# print(mytuple)

mytuple_cadangan= list(mytuple)
mytuple_cadangan[1]='sepeda'
mytuple= tuple(mytuple_cadangan)

# Set

- acak, data tidak berurutan
- bisa diubah
- tidak bisa duplikat

In [49]:
myset= {'motor', 'mobil', 'becak', 'pesawat'}
print(myset)

{'mobil', 'becak', 'motor', 'pesawat'}

In [50]:
myset.add('qq')
print(myset)

{'pesawat', 'motor', 'mobil', 'qq', 'becak'}

In [52]:
set1= {'mobil', 'becak', 'motor', 'pesawat'}
set2= {'bmw','honda'}
set3= set1.union(set2)
print(set3)
print(set1)

{'mobil', 'pesawat', 'bmw', 'motor', 'becak', 'honda'}
{'mobil', 'becak', 'motor', 'pesawat'}

In [53]:
set1.update(set2)
print(set1)

{'mobil', 'pesawat', 'bmw', 'motor', 'becak', 'honda'}

# Dictionaries

-

In [54]:
dict_1={'nama':'Bagas',
        'umur':22}
print(dict_1)

{'nama': 'Bagas', 'umur': 22}

In [55]:
#error dict_1.nama

print(dict_1['nama'])
print(dict_1.get('nama'))
print(dict_1.keys())
print(dict_1.values())
print(dict_1.items())
print(' ')

# update, remove, update, del

Bagas
Bagas
dict_keys(['nama', 'umur'])
dict_values(['Bagas', 22])
dict_items([('nama', 'Bagas'), ('umur', 22)])

In [57]:
dict_2= {1:{'name':'Budi', 'age': 25},
         2: {'name':'Efi', 'age': 22}}

print(dict_2[1]['name'])

Budi

# Operator Aritmatika
w3school Python Operator
w3resource.com/python-exercises

|Operator|Description|Example|
|---|---|---|
|+ Addition
|- Substraction
|* Times
|/
|%
|**
|//

# Assignment Operator

=
+=
-=
*=
/=
%=
**=
//=

# Logical Operator

|Operator|Description|Example|
|---|---|--|
|and|Return True if both statements are True||
|or|Return True if one of the statemments is True||
|not|Reverse the result, returns False if the result is True||

# Exercise

In [63]:
thislist= ['foo','bar','baz','quz','nex']
thislist2= ['jojo','baba']
del thislist[0]
print(thislist)

['bar', 'baz', 'quz', 'nex']

In [ ]:
thisdict = {
    'brand':''
}

# Reference

String: Italic, Bold, Color
- https://appdividend.com/2022/07/27/how-to-print-bold-python-text/
- https://blog.finxter.com/how-to-print-italic-text-in-python/